.icp-data-server {
    content: url('../icon/iconpark/data-server.svg');
}
.icp-terminal {
    content: url('../icon/iconpark/terminal.svg');
}
.icp-seo-folder {
    content: url('../icon/iconpark/seo-folder.svg');
}
.icp-replay-music {
    content: url('../icon/iconpark/replay-music.svg');
}